.icon{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-align: center;
    img{
        width: 3rem;
        height: auto ;
    }
    .ct{
        margin-bottom: -1rem;
    }
    .counter{
        text-align: center;
        color: white;
        background-color: lightslategray;
        padding: 0.3rem 0.3rem;
        border-radius: 1.5rem;
    }
}